@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100%;
}
.top{
    /* background-color: rebeccapurple; */
    height: 10%;
    width: 100%;
    padding: 2%;
}

.middle{
    width: 100%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.left{
    width: 50%;
    height: 80%;
}
.right{
    width: 50%;
    height: 80%;
}
.logo{
    font-family: "Inconsolata", monospace;
    color: #333333;

}


.scarecrow{
width: 80%;
height: 100%;
}

.title{
    font-size: 3rem;
    width: 90%;
    font-family: "Space Mono", monospace;
    color: #333333;
    font-weight: 700;
}

p{
    width: 60%;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;
    font-weight: 400;
}

button{
    width: 160px;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: "Space Mono", monospace;
}


@media (max-width:400px){

    .middle{
        flex-direction: column;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .scarecrow{
        width: 100%;
    }
}